:root{
    --dark-color: #141416;  
}

.weekly{
    background-color: #f1f1f1;
    &__container{
        padding: 70px 0 90px;
    }

    &__title{
        text-align: center;

        color: rgb(197, 197, 197);

        font-family: Poppins;
        font-size: 45px;
        font-weight: 600;
        line-height: 26.92px;
        letter-spacing: 0px;

        margin-bottom: 90px;
    }

    &__slider{
        padding-bottom: 210px !important;
    }

    &__carsds{
        max-width: 200px !important;
    }

    // &__card{
    //     border-radius: 23.48px;

    //     box-shadow: 38.82px 11.76px 58.81px 0px rgba(199, 199, 199, 0.6);
    //     background: rgb(255, 255, 255);

    //     padding: 14px;

    //     max-width: 281px;
    //     box-sizing: border-box;
    // }

    // &__top{
    //     position: relative;
    // }

    // &__time{
    //     position: absolute;

    //     right: 10px;
    //     top: 14px;
    //     color: rgb(255, 255, 255);
    //     font-family: Poppins;
    //     font-size: 14.12px;
    //     font-weight: 500;
    //     line-height: 150%;
    //     letter-spacing: 0.12px;

    //     box-sizing: border-box;
    //     border: 1.18px solid rgba(28, 29, 32, 0.08);
    //     border-radius: 9.41px;
    //     box-shadow: 0px 4.71px 14.12px 0px rgba(28, 29, 32, 0.08);
    //     backdrop-filter: blur(4.71px);
    //     background: rgba(28, 29, 32, 0.35);

    //     padding: 7.5px 16px;
    // }

    // &__img{
    //     margin-bottom: 20px;

    //     width: 100%;
    // }

    // &__card-name{
    //     color: var(--dark-color);

    //     font-family: Poppins;
    //     font-size: 21.17px;
    //     font-weight: 600;
    //     line-height: 140%;
    //     letter-spacing: 0px;

    //     margin-bottom: 15px;
    // }

    // &__card-content{
    //     display: flex;
    //     gap: 40px;
    // }

    // &__card-price{
    //     display: flex;
    //     flex-direction: column;
    //     row-gap: 5px;
    // }

    // &__descr{
    //     color: rgb(148, 163, 184);

        
    //     font-family: Poppins;
    //     font-size: 14.12px;
    //     font-weight: 400;
    //     line-height: 150%;
    //     letter-spacing: 0.18px;
    // }

    // &__price{
    //     color: var(--dark-color);
        
    //     font-family: Poppins;
    //     font-size: 16.47px;
    //     font-weight: 500;
    //     line-height: 150%;
    //     letter-spacing: 0px;

    //     padding-left: 23px;

    //     background-image: url(../img/weekly-card-price.svg);
    //     background-repeat: no-repeat;
    //     background-position: center left;
    // }

    // &__btn{
    //     border-radius: 11.76px;

    //     background: var(--dark-color);
    //     color: #ffffff;

    //     padding: 11px 19px;

    //     border: 0;
    //     cursor: pointer;
    // }
}